@use "sass:map";

@import "../../../../styles-settings";

:host .image-wrapper {
    overflow: hidden;
}

:host .image-container {
    position: relative;
}

:host .image-container .toolbar {
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    color: map.get($mat-choirbook-primary, 'contrast', 900);
    background-color: map.get($mat-choirbook-primary, 'contrast', 50);
    border-color: map.get($mat-choirbook-primary, 900);
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    opacity: 0.5;
    padding: 5px;
}

:host .image-container .camera-controls {
    z-index: 1;
    float: right;
    position: absolute;
    bottom: 5px;
    right: 0px;
    color: map.get($mat-choirbook-primary, 'contrast', 900);
    background-color: map.get($mat-choirbook-primary, 'contrast', 50);
    border-color: map.get($mat-choirbook-primary, 900);
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    opacity: 0.5;
    width: 100px;
    height: 100px;
}

:host .image-container img {
    z-index: 0;
    position: relative;
    top: 5px;
    border-color: map.get($mat-choirbook-primary, 900);
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    pointer-events: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}