<div class="h-full flex flex-col items-start justify-center">
    <div *ngIf="!hasLoaded" class="flex flex-col h-full w-full justify-center items-center">
        <mat-spinner></mat-spinner>
        <p>Loading</p>
    </div>
    <div class="h-full w-full flex flex-col justify-start items-center">
        <div class="image-wrapper h-full w-full flex justify-center" #imageWrapper>
            <div class="image-container h-full w-full flex justify-center">
                <!-- toolbar overlay -->
                <div *ngIf="hasLoaded && !showHelp" class="toolbar flex flex-row justify-start items-center">
                    <!-- pagination info -->
                    <div class="flex w-full flex-row justify-center">
                        <!-- display info if neither page is titled (numbered) -->
                        <div *ngIf="imageDatum.versoDisplay == '' && imageDatum.rectoDisplay == ''">
                            Untitled Opening
                        </div>
                        <!-- display info if at least one page is titled (numbered) -->
                        <div [hidden]="!hasLoaded" *ngIf="imageDatum.versoDisplay != '' || imageDatum.rectoDisplay != ''" class="flex flex-row justify-start">
                            <div>
                                <span [hidden]="imageDatum.versoDisplay == ''">
                                    {{ imageDatum.versoDisplay }} (verso)
                                </span>
                                <span [hidden]="imageDatum.versoDisplay != ''">
                                    Untitled (verso)
                                </span>
                            </div>
                            <div class="px-2">
                                -
                            </div>
                            <div>
                                <span [hidden]="imageDatum.rectoDisplay == ''">
                                    {{ imageDatum.rectoDisplay }} (recto)
                                </span>
                                <span [hidden]="imageDatum.rectoDisplay != ''">
                                    Untitled (recto)
                                </span>
                            </div>
                        </div>     
                    </div>
                </div>
                <div *ngIf="hasLoaded && showHelp" class="controls-help flex flex-col justify-center items-center" (click)="toggleHelp()">
                    <div class="controls-help-box flex flex-col justify-center items-center max-sm:w-full max-md:w-3/4 w-1/2">
                        <div class="controls-help-box-header p-2">
                            Mouse Controls
                        </div>
                        <div class="p-2 flex flex-col justify-center items-center">
                            <div>
                                <mat-icon fontIcon="pan_tool" aria-label="Pan icon"></mat-icon> Pan with mouse drag or mobile touch
                            </div>
                            <div>
                                <mat-icon fontIcon="zoom_in" aria-label="Zoom in icon"></mat-icon>/<mat-icon fontIcon="zoom_out" aria-label="Zoom out icon"></mat-icon> Zoom with scroll wheel (or trackpad scroll)
                            </div>
                        </div>
                    </div>
                    <div class="controls-help-box flex flex-col justify-center items-center max-sm:w-full max-md:w-3/4 w-1/2">
                        <div class="controls-help-box-header p-2">
                            On Screen Controls
                        </div>
                        <div class="p-2 flex flex-col justify-center items-center">
                            <div>
                                <mat-icon fontIcon="pan_tool" aria-label="Pan icon"></mat-icon> Pan with arrow buttons
                            </div>
                            <div>
                                <mat-icon fontIcon="zoom_in" aria-label="Zoom in icon"></mat-icon>/<mat-icon fontIcon="zoom_out" aria-label="Zoom out icon"></mat-icon> Zoom with +/- buttons
                            </div>
                            <div>
                                <mat-icon fontIcon="refresh" aria-label="Refresh icon"></mat-icon> Hit refresh to reset the image
                            </div>
                        </div>
                    </div>
                    <div class="max-sm:invisible controls-help-box flex flex-col justify-center items-center max-sm:w-full max-md:w-3/4 w-1/2">
                        <div class="controls-help-box-header p-2">
                            Keyboard Controls
                        </div>
                        <div class="p-2 flex flex-col justify-center items-center">
                            <div>
                                <mat-icon fontIcon="pan_tool" aria-label="Pan icon"></mat-icon> Pan with arrow keys
                            </div>
                            <div>
                                <mat-icon fontIcon="zoom_in" aria-label="Zoom in icon"></mat-icon>/<mat-icon fontIcon="zoom_out" aria-label="Zoom out icon"></mat-icon> Zoom with +/- keys
                            </div>
                            <div>
                                <mat-icon fontIcon="refresh" aria-label="Refresh icon"></mat-icon> Backspace, Enter, or Space to reset the image
                            </div>
                        </div>
                    </div>
                </div>
                <!-- zoom and pan controls -->
                <div class="camera-controls">
                    <mat-grid-list cols="3" rowHeight="1:1">
                        <!-- top row grid -->
                        <mat-grid-tile>
                            <div class="flex flex-col justify-center items-center" (click)="toggleHelp()">
                                <mat-icon fontIcon="help" aria-label="Show help"></mat-icon>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="flex flex-col justify-center items-center" (click)="decreasePan('y')">
                                <mat-icon fontIcon="expand_less" aria-label="Pan up"></mat-icon>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile></mat-grid-tile>
                        <!-- middle row grid-->
                        <mat-grid-tile>
                            <div class="flex flex-col justify-center items-center" (click)="decreasePan('x')">
                                <mat-icon fontIcon="chevron_left" aria-label="Pan left"></mat-icon>
                            </div>
                          </mat-grid-tile>
                          <mat-grid-tile>
                            <div class="flex flex-col justify-center items-center" (click)="resetImage()">
                                <mat-icon fontIcon="refresh" aria-label="Reset image"></mat-icon>
                            </div>
                          </mat-grid-tile>
                          <mat-grid-tile>
                            <div class="flex flex-col justify-center items-center" (click)="increasePan('x')">
                                <mat-icon fontIcon="chevron_right" aria-label="Pan right"></mat-icon>
                            </div>
                          </mat-grid-tile>
                        <!-- bottom row grid -->
                        <mat-grid-tile>
                            <div class="flex flex-col justify-center items-center" (click)="decreaseZoom()">
                                <mat-icon fontIcon="zoom_out" aria-label="Zoom out"></mat-icon>
                            </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="flex flex-col justify-center items-center" (click)="increasePan('y')">
                                    <mat-icon fontIcon="expand_more" aria-label="Pan down"></mat-icon>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div class="flex flex-col justify-center items-center" (click)="increaseZoom()">
                                    <mat-icon fontIcon="zoom_in" aria-label="Zoom in"></mat-icon>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                </div>
                <img appImageViewer class="scale-down" [hidden]="!hasLoaded" [src]="getPath(imageDatum)" [alt]="getAltText(imageDatum)" (load)="imageLoaded()" [xPan]="xPan" [yPan]="yPan" [zoomLevel]="zoomLevel" (updatePan)="updatePan($event)" #mainImage>
            </div>
        </div>
    </div>
</div>