<header>
    <mat-toolbar class="mat-elevation-z8 flex flex-row justify-start items-center" color="primary">

        <!-- Site Header Info -->
        <div class="flex max-lg:flex-col flex-row grow justify-start items-start" routerLink="home">
            <h1>{{ settings.siteTitle }}<span class="max-lg:invisible">:&nbsp;</span></h1>
            <div class="header-byline">{{ settings.byline }}</div>
        </div>
    
        <!-- button to open nav menu -->
        <div class="nav-menu-toggle flex flex-col justify-center items-center" (click)="toggleNav()">
            <mat-icon fontIcon="menu" aria-label="Open navigation menu"></mat-icon>
        </div>
    
    </mat-toolbar>
</header>

  