<mat-card>
    <mat-card-title>Credits</mat-card-title>
    <mat-card-content>
      <!-- introductory content -->
      <div class="flex flex-col justify-start text-left">
        <p class="has-dropcap text-left">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pharetra vel turpis nunc eget lorem dolor sed. In dictum non consectetur a erat nam. Integer vitae justo eget magna fermentum. Ac felis donec et odio pellentesque. Viverra justo nec ultrices dui sapien eget mi proin. Tincidunt ornare massa eget egestas purus viverra accumsan in. Tempor orci dapibus ultrices in iaculis nunc. Sit amet purus gravida quis. Orci porta non pulvinar neque. Sed elementum tempus egestas sed sed risus. Arcu risus quis varius quam quisque id diam. Viverra ipsum nunc aliquet bibendum enim. Ultrices vitae auctor eu augue ut.
        </p>
        <p>
            Urna duis convallis convallis tellus. Vulputate sapien nec sagittis aliquam malesuada bibendum. Eget aliquet nibh praesent tristique magna sit amet. Tellus at urna condimentum mattis pellentesque. In hendrerit gravida rutrum quisque non tellus orci ac auctor. Enim facilisis gravida neque convallis a cras semper auctor neque. Amet commodo nulla facilisi nullam vehicula ipsum a arcu. Sed elementum tempus egestas sed sed risus pretium quam vulputate. Dui id ornare arcu odio ut sem. Placerat vestibulum lectus mauris ultrices eros in cursus turpis massa. Non curabitur gravida arcu ac. Volutpat consequat mauris nunc congue nisi. Enim sed faucibus turpis in eu mi bibendum.
        </p>
      </div>
    </mat-card-content>
</mat-card>